name: Build and Deploy HR Import Service

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      run: mvn -B package -DskipTests
    
    - name: Run Tests
      run: mvn test
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: hr-import-service
        path: target/*.jar

  docker:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Download Artifact
      uses: actions/download-artifact@v3
      with:
        name: hr-import-service
    
    - name: Build Docker image
      run: |
        docker build -t hr-import-service:latest .
    
    - name: Save Docker image
      run: |
        docker save hr-import-service:latest -o hr-import-service.tar
    
    - name: Upload Docker image
      uses: actions/upload-artifact@v3
      with:
        name: docker-image
        path: hr-import-service.tar